@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .link{
        @apply cursor-pointer hover:underline
    }
    .button{
        @apply cursor-pointer p-2 text-xs md:text-sm bg-gradient-to-b from-yellow-200 to-yellow-400 border-yellow-300 rounded-sm outline-none focus:ring-2 focus:ring-yellow-500
    }
}
.button{
    cursor: pointer;
    padding: 10px;
    font-size: 17px;
    background:#FBBF24;
    border: none;
    outline: none;
    border-radius: 6px;
}
.bg-amazon_blue{
    background:#131921;
}
.bg-amazon_blue-light{
    background:#232F3E;
}